# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bak
*.swp
*.swo
*.pyc
*.elf
*.o
*.gch
*.a
*.zargo~
*~
*.xmi~
*nohup.out
*.lvimrc
lib/*
exec/*
bin/*
inc/config.h
tags
.project
.pydevproject
.settings
.dat
a.out
a.out.*
CMakeCache.txt
CMakeFiles
**/Linux/*
inc/g4extras/PhysList.ihpp
assets/_drafts/fourier/*.dat
assets/_drafts/fourier/test.run
inc/g4extras/auto.out/*
assets/contrib/cmake/FindROOT.cmake
StromaVConfig.cmake
inc/config.h
nbproject/
src/*_generated.*
.idea/*

